<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <style>


        .blue-background {
            background-color: #70B7E6;
        }

        .green-background {
            background-color: #2ecc71;
        }

        .custom-row-3 {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }


    </style>

  </head>
  <body>
    {% comment %} {% for frame in frames %}
        <div class="frame-container"  style="display: none;">
            <img src="data:image/jpeg;base64,{{ frame }}" />
        </div>
    {% endfor %} {% endcomment %}
    <div id="image-container">
        <!-- This is where the image will be inserted -->
    </div>
    

    <div class="container-fluid">
        <div class="row text-center" style="background-color: black; color: white;">
            <h1 class="display-3">ORB-SLAM2編輯器</h1>
        </div>
        <div class="row">


            <div class="col-md-2 blue-background d-flex align-items-center"> 

                <div class="d-grid gap-3 col-6 mx-auto">
                    <input type="file" id="fileInput" style="display: none;">
                    <button class="btn btn-primary" id="chooseFileButton" type="button">選擇文件</button>                   
                    <button class="btn btn-primary" type="button">Button</button>
                    <button class="btn btn-primary" type="button">Button</button>
                </div>
            </div>


            <div class="col-md-8 green-background d-flex justify-content-center align-items-center">
                <canvas id="myCanvas" ></canvas>

                <form id="filePathForm" action="/process_file_path/" method="post">
                    {% csrf_token %} 
                    <input type="hidden" id="filePathInput" name="filePath" value="">
                </form>
            </div>
            
            
            
            
            <div class="col-md-2 blue-background">
            </div>
        </div>
    </div>

    <script>
        

//////////////////////////////////////////////////////////// element //////////////////////////////////////////////////////////

        const fileInput = document.getElementById("fileInput");
        const canvas = document.getElementById('myCanvas');
        const filePathInput = document.getElementById('filePathInput');
        const chooseFileButton = document.getElementById("chooseFileButton");
        const frameContainers = document.querySelectorAll('.frame-container');

        var filePath;
        const ctx = canvas.getContext('2d');
        const frames = Array.from(frameContainers);
        var currentFrame = 0;
        var img = new Image();


    
        chooseFileButton.addEventListener("click", function () {
            fileInput.click();
            fileInput.addEventListener("change", function () {
                const filePath = fileInput.value;
                const fileName = fileInput.files[0].name; // 获取文件的真实名称

                
                const xhr = new XMLHttpRequest();
                const url = "/read_video/process_file_path/"; // 你的处理URL

                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // 处理成功后的操作
                        console.log('数据已成功发送到后端');
                    }
                };

                const data = "filePath=" + encodeURIComponent(fileName); // 构建数据字符串
                xhr.send(data);
                
            });
            
        });


//////////////////////////////////////////////////////////// functions //////////////////////////////////////////////////////////

        function drawFrame() {
            if (currentFrame < frames.length) {
                const frameData = frames[currentFrame].querySelector('img');
                canvas.width = frameData.width;
                canvas.height = frameData.height;
                ctx.drawImage(frameData, 0, 0);
                currentFrame++;
               
                //console.log("CurrentFrame: " + currentFrame);
            } else {
                clearInterval(timer);
            }
        }

        // 每秒切换一帧
        timer = setInterval(drawFrame, 30);

        


        
    

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  </body>
</html>